h1 {
    color: #ff6600fe;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    font-style: oblique;
    outline-style:solid;
    padding: 10px;
    outline-color: red;
    outline-width: 5px;
    text-align: center;
    background-color: #162e48;
    
}

h2 {
    font-style:italic;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}


p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body {
    background-image: url(images/aquabg.png)
}


img:hover {
  transform:scale(1.5);

}

img {
    border: 1px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

article {
    text-align: center;
}